.card {
    height: 85%;
    width: 65%;
    margin: 1vh;
}

.background {
    height: 65%;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.card-body {
    height: 20%;
    width: 99%;
}

h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
}

section {
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 500px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .card {
        width: 70%;
    }
}
