.card {
    height: 40vh;
    width: 20vw;
    margin: 1vh;
}

.background {
    height: 30vh;
    width: 20vw;
}

img {
    width: 20vw;
    height: 30vh;
}

.card-body {
    width: 99%;
}

h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
}